
<div class=" content">
  <div class=" row">
    <div class=" col-12">
        <div class=" col-lg-12 col-md-12">
          <div class=" card">
            <div class=" card-header">
              <h4 class=" card-title">Correlation data coming from Firestore - Calculated in Python</h4>
            </div>
            <div class=" card-body">
              <div class=" table-responsive">
                <table class=" table tablesorter" id="">
                  <thead class=" text-primary">
                    <tr>
                      <th>Instrument 1</th>
                      <th>Instrument 2</th>
                      <th class=" text-center">Pearson Correlation</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of items | async">
                      <td>{{ item.i1 }}</td>
                      <td>{{ item.i2 }}</td>
                      <td>{{ item.pearson_corr }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!-- Graphs
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Shipments</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 763,215
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Daily Sales</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-delivery-fast text-info"> </i> 3,500€
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Completed Tasks</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-send text-success"> </i> 12,100K
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>
        </div>
      </div>
    </div>
  </div> -->

</div>
