
<div class=" content">
  <div class=" row">
    <div class=" col-12">
        <div class=" col-lg-12 col-md-12">
          <div class=" card">
            <div class=" card-header">
              <h4 class=" card-title">Correlation data (coming from Firestore, calculated in Python)</h4>
            </div>
            <div class=" card-body">
              <div class=" table-responsive" style="max-height:500px; overflow:scroll; overflow-x:auto;">
                <table class=" table tablesorter" id="">
                  <thead class=" text-primary">
                    <tr>
                      <th>Instrument 1</th>
                      <th>Instrument 2</th>
                      <th class=" text-center">Pearson Correlation</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of correlations | async">
                      <td>{{ item.i1 }}</td>
                      <td>{{ item.i2 }}</td>
                      <td>{{ item.pearson_corr }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-lg-12 col-md-12">

          <div class=" card">
            <div class=" card-header">
              <h4 class=" card-title">Daily data checks: is the redeemed NAV per share the same as the subscribed NAV per share (coming from Firestore, calculated in Python)</h4>
            </div>
            <div class=" card-body">
              <div class=" table-responsive" style="max-height:500px; overflow:scroll; overflow-x:auto;">
                <table class=" table tablesorter" id="">
                  <thead class=" text-primary">
                    <tr>
                      <th>Valuation Date</th>
                      <th>Subfund Code</th>
                      <th>Share Class Code</th>
                      <th class=" text-center">Check</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of redeemed_subscribed_check | async">
                      <td>{{ item.Valuation_Date }}</td>
                      <td>{{ item.Subfund_Code }}</td>
                      <td>{{ item.Share_Class_Code }}</td>
                      <td>{{ item.NAV_Per_Share_Redeemed_Subscribed_Check }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class=" card" >
            <div class=" card-header">
              <h4 class=" card-title">Monthly data checks: is the redeemed NAV per share the same as the subscribed NAV per share (coming from Firestore, calculated in Cloud Function)</h4>
            </div>
            <div class=" card-body" >
              <div class=" table-responsive" style="max-height:500px; overflow:scroll; overflow-x:auto;">
                <table class=" table tablesorter" id="">
                  <thead class=" text-primary">
                    <tr>
                      <th>Valuation Year</th>
                      <th>Valuation Month</th>
                      <th class=" text-center">Check</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of check_redeemed_subscribed_aggregated | async">
                      <td>{{ item.Valuation_Year }}</td>
                      <td>{{ item.Valuation_Month }}</td>
                      <td>{{ item.NAV_Per_Share_Redeemed_Subscribed_Check }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class=" card">
            <div class=" card-header">
              <h4 class=" card-title">Overall check of the duplicates in the data (coming from Firestore, calculated in Python)</h4>
            </div>
            <div *ngFor="let item of check_no_duplicates | async" class=" card-body">
              <p>State of the duplicates in the data: {{ item.check_no_duplicates }}</p>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!-- Graphs
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Shipments</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 763,215
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Daily Sales</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-delivery-fast text-info"> </i> 3,500€
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Completed Tasks</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-send text-success"> </i> 12,100K
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>
        </div>
      </div>
    </div>
  </div> -->

</div>
